.todo-app {
  width: 420px;
  margin:  0 auto;
  background: red;
  padding: 12px 24px;
  border-radius: 8px;
  margin-top: 30px;
}

.tittle {
  margin-bottom: 20px;
}

.form {
  display: flex;

}

.input {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px; 
  outline: none;
  margin-right: 8px;

}
